.form-section {
  width: 100%;
  background: white;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-price {
  width: 100%;
  background-color: lightgray;
  font-size: var(--fs-100);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 14px 14px;
  border-radius: 10px;
  margin: 2% 0;
}

.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2% 0;
}

.form-image {
  display: none;
  justify-content: center;
}

.form-card {
  width: 100%;
  background: lightgray;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form-group label {
  margin-bottom: 6px;
  font-size: var(--fs-100);
  font-weight: bold;
}

.form-group input {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid rgb(201, 199, 199);
  background: rgb(201, 199, 199);
  font-size: var(--fs-200);
}

.form-group input:focus {
  border-color: var(--primary--clr);
  outline: none;
  background: white;
}

.btn-enviar {
  width: 100%;
  padding: 12px;
  background: var(--primary--clr);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: var(--fs-100);
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 768px){
  .date-price{
    font-size: var(--fs-300);
  }
  .btn-enviar{
    font-size: var(--fs-300);
  }
  .form-group label{
    font-size: var(--fs-200);
  }
  .form-group input{
    font-size: var(--fs-300);
  }
}

@media (min-width: 1024px) {
  .form-inner {
    flex-direction: column;
    align-items: center;
  }

  .date-price {
    max-width: 900px;
    font-size: var(--fs-400);
    margin: 20px 0;
  }

  .form-wrapper {
    max-width: 900px;
    gap: 40px;
    align-items: stretch;
  }

  .form-image {
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 350px;

    background-image: url("@/assets/images/Foto2.jpg");
    background-size: cover;
    background-position: center;

    border-radius: 10px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45); 
    z-index: 1;
  }

  .form-image img {
    position: relative;
    z-index: 2;
    width: 60%;
    max-width: 260px;
    object-fit: contain;
  }

  .form-card {
    width: 50%;
    padding: 32px;
  }

  .form-group label {
    font-size: var(--fs-300);
  }

  .form-group input {
    font-size: var(--fs-300);
    padding: 12px 14px;
  }

  .btn-enviar {
    font-size: var(--fs-300);
    padding: 14px;
  }
}
