.calendar-section {
  width: 100%;
  background: white;
  display: flex;
  padding: 0 10px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuDesplegable {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: lightgray;
}

.menu-btn {
  width: 100%;
  background-color: transparent;
  border-radius: 20px;
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-btn:hover {
  background: #e9e9e9;
}

.menu-content {
  padding: 15px;
}

.menu-content li {
  padding: 15px;
  display: inline-block;
}
