.contact-section {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.ediciones{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ediciones span {
  font-weight: 600;
  display: block;
  margin: 0.5rem 0;
}

.ediciones a {
  display: block;
  color: blue;
  text-decoration: none;
  margin: 1rem 0;
}

.contacto{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-item {
  text-align: center;
  gap: 0.5rem;
  margin-bottom: 0.4rem;
}

.contact-item a {
  color: #333;
  text-decoration: none;
}

.contact-item a:hover {
  text-decoration: underline;
}

