.footer {
  width: 100%;
  color: #fff;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.footer-head {
  width: 100%;
}

.footer-head .fondo-img {
  width: 100%;
  display: flex;
  justify-content: end;
}

.footer-end {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 20px 20px;
  flex-wrap: wrap;
  background-color: black;
}

.footer-column {
  flex: 1;
  min-width: 240px;
}

.footer-logo {
  width: 150px;
  margin-bottom: 15px;
}

.footer-description {
  font-size: 20px;
  line-height: 1.4;
  color: white;
}

.footer-column h4 {
  font-size: 20px;
  margin-bottom: 12px;
  color: white;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  text-decoration: none;
  color: white;
  font-size: var(--fs-200);
  transition: 0.2s;
}

.footer-column ul li a:hover {
  color: white;
}

.footer-social {
  display: flex;
  gap: 15px;
  justify-content: end;
  margin-top: 20px;
}

.social-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
  color: white;
}

.contact-footer {
  display: flex;
  align-items: center;
  font-size: var(--fs-200);
  color: white;
  margin-bottom: 10px;
}

.envelope-footer, .telephone-footer {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
  color: white;
}

.footer-social i {
  font-size: var(--fs-200);
  cursor: pointer;
  transition: 0.2s;
}

.footer-copy {
  text-align: center;
  padding: 18px 0;
  font-size: var(--fs-100);
  font-weight: bold;
  color: white;
  border-top: 1px solid gray;
  background-color: black;
}

@media (min-width: 1024px) {
  .footer-end {
    width: 100%;

    display: flex;
    justify-content: center;
  }

  .footer-end {
    padding: 40px 0;
  }

  .footer-end > .footer-column {
    max-width: 1200px;
  }

  .footer-column {
    flex: 1;
    min-width: 240px;
    padding: 0 20px;
  }

  .footer-description {
    max-width: 320px;
  }

  .footer-social {
    margin-top: 30%;
    justify-content: center;
  }
}
